black==21.12b0
    # via -r requirements.txt
certifi==2022.9.24
    # via requests
charset-normalizer==2.1.1
    # via requests
click==8.0.3
    # via black
condorcet==0.1.1
    # via -r requirements.txt
exceptiongroup==1.2.0
    # via pytest
fire==0.4.0
    # via
    #   -r requirements.txt
    #   mkhelp
idna==3.4
    # via requests
iniconfig==2.0.0
    # via pytest
isort==5.10.1
    # via -r requirements.txt
mkhelp==0.2
    # via -r requirements.txt
more-itertools==8.12.0
    # via sprig
mypy==1.7.1
    # via -r requirements.txt
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
packaging==23.2
    # via pytest
pathspec==0.9.0
    # via black
platformdirs==2.4.0
    # via black
pluggy==1.3.0
    # via pytest
pytest==7.4.3
    # via pytest-mock
pytest-mock==3.12.0
    # via condorcet
requests==2.28.1
    # via -r requirements.txt
ruff==0.1.6
    # via -r requirements.txt
six==1.16.0
    # via fire
sprig==0.5.1
    # via -r requirements.txt
termcolor==1.1.0
    # via fire
tomli==1.2.2
    # via
    #   black
    #   mypy
    #   pytest
typing-extensions==4.8.0
    # via
    #   black
    #   mypy
    #   sprig
urllib3==1.26.12
    # via requests

# The following packages are considered to be unsafe in a requirements file:
pip==22.3
    # via -r requirements.txt
setuptools==65.5.0
    # via -r requirements.txt
